# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/build
/src-tauri/src/graphql/generated.rs
/src-tauri/src/graphql/datasource_impl.rs
/src/graphql/types.d.ts
/src/graphql/operations.ts
/graphql-schema.json
*.rs.temp
/.eslintcache
/src-tauri/resources-arch-specific
/src-tauri/icons
