# For @dnd-kit
public-hoist-pattern[]=@dnd-kit/utilities
public-hoist-pattern[]=@dnd-kit/modifiers

# For codegen
public-hoist-pattern[]=@graphql-codegen/plugin-helpers
public-hoist-pattern[]=@graphql-typed-document-node/core
public-hoist-pattern[]=graphql

# For react-scripts-vite
public-hoist-pattern[]=eslint
public-hoist-pattern[]=vite
public-hoist-pattern[]=vitest
